<div id="title"><a href="/">Crossfit Wodder</a></div>
<div id="description">
	<div>All of today's WODs,<br />all in one place.</div>
	<div id="header-social-icons">
		<a class="icon" href="http://crossfitwodder.blogspot.com/" target="_blank"><img src="/images/blogger-icon.png" height="20" width="20" /></a>
		<a class="icon" href="http://twitter.com/crossfitwodder" target="_blank"><img src="/images/twitter-icon.png" height="20" width="20" /></a>
		<a class="icon" href="http://www.facebook.com/pages/Crossfit-Wodder/117019225013434" target="_blank"><img src="/images/facebook-icon.png" height="20" width="20" /></a>
		<a class="icon" href="http://www.stumbleupon.com/stumbler/crossfitwodder/" target="_blank"><img src="/images/stumbleupon-icon.png" height="20" width="20" /></a>
		<a class="icon" href="/wods/rss" target="_blank"><img src="/images/rss-icon.png" height="20" width="20" /></a>
	</div>
</div>
