<div id="signup-dialog" title="Crossfit Wodder - Signup">
	<p>See a killer WOD that you want to save for a future gut busting fire breathing workout?</p>
	<p>Users who donate $5 or more can sign up and gain full access to Crossfit Wodder, including the ability to save WODs.</p>
	<div>
		Get started wtih Crossfit Wodder!
		<%= render :partial => 'shared/donate_form' %>
	</div>
	<p class="signin">Already have an account? <%= link_to 'signin', :controller => 'users', :action => 'signin' %></p>
</div>
